/* Compass */
/* Partials */
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Courgette");
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700');
@font-face {
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CenturyGothic.eot?") format("eot"), url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic.ttf") format("truetype"), url("../fonts/CenturyGothic.svg#CenturyGothic") format("svg");
}
@font-face {
  font-family: "CenturyGothic-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CenturyGothic-Bold.eot?") format("eot"), url("../fonts/CenturyGothic-Bold.woff2") format("woff2"), url("../fonts/CenturyGothic-Bold.woff") format("woff"), url("../fonts/CenturyGothic-Bold.ttf") format("truetype"), url("../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold") format("svg");
}
@font-face {
  font-family: "CenturyGothic-BoldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CenturyGothic-BoldItalic.eot?") format("eot"), url("../fonts/CenturyGothic-BoldItalic.woff2") format("woff2"), url("../fonts/CenturyGothic-BoldItalic.woff") format("woff"), url("../fonts/CenturyGothic-BoldItalic.ttf") format("truetype"), url("../fonts/CenturyGothic-BoldItalic.svg#CenturyGothic-BoldItalic") format("svg");
}
/******************\

$CSS Reset

\******************/
/* line 15, ../sass/partials/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, .steps__f-grp > p, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 37, ../sass/partials/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../sass/partials/_base.scss */
body {
  line-height: 1;
}

/* line 46, ../sass/partials/_base.scss */
ol, ul {
  list-style: none;
}

/* line 50, ../sass/partials/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 54, ../sass/partials/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 60, ../sass/partials/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 66, ../sass/partials/_base.scss */
html {
  font-size: 10px;
}

/* line 70, ../sass/partials/_base.scss */
body {
  font-size: 1.6rem;
  font-family: CenturyGothic;
}

/* line 75, ../sass/partials/_base.scss */
html,
body {
  min-height: 100%;
}

/* line 83, ../sass/partials/_base.scss */
.btn:active, .btn:focus, .btn:active:focus,
button:active,
button:focus,
button:active:focus,
input:active,
input:focus,
input:active:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 91, ../sass/partials/_base.scss */
.wrapper {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
}

/* line 1, ../sass/partials/_buttons.scss */
.lang-btn, .etd__header__nav__list__item a {
  width: 5.5rem;
  height: 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  background: #0c324c;
  border: none;
  cursor: pointer;
}
/* line 10, ../sass/partials/_buttons.scss */
.lang-btn .wrap, .etd__header__nav__list__item a .wrap {
  display: inline-block;
}

/* line 15, ../sass/partials/_buttons.scss */
.apply-btn {
  border: none;
  padding: 0 10px;
  line-height: 7rem;
  font-size: 2.3rem;
  font-family: CenturyGothic-Bold;
  color: #0c324c;
  background: #14e095;
  cursor: pointer;
}

/* line 26, ../sass/partials/_buttons.scss */
.sign-up-btn {
  display: block;
  width: 228px;
  height: 56px;
  margin: 0 auto;
  font-size: 2rem;
  font-family: CenturyGothic-Bold;
  color: #fff;
  background: #0c324c;
  border: 3px solid #fff;
  cursor: pointer;
}

/* line 39, ../sass/partials/_buttons.scss */
.more-faq-btn {
  margin: 0 auto 90px;
  width: 100%;
  max-width: 750px;
  font-size: 16px;
  font-family: CenturyGothic-Bold;
  line-height: 50px;
  border-radius: 5px;
  border: 2px solid #14e095;
  color: #0c324c;
  background: #fff;
  cursor: pointer;
}
/* line 51, ../sass/partials/_buttons.scss */
.more-faq-btn:hover {
  border: 2px solid #fff;
  background: #14e095;
}

/* line 57, ../sass/partials/_buttons.scss */
.steps__f-grp__btn {
  width: 49%;
  height: 45px;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: Roboto;
  font-weight: 700;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #adc3ce;
  color: #7a8e98;
  background: #f3f4f8;
  /* btn--green class should bee added when someone click on it */
}
/* line 72, ../sass/partials/_buttons.scss */
.steps__f-grp__btn.btn--green {
  border: none;
  color: #fff;
  background: #14e095;
}

/* line 79, ../sass/partials/_buttons.scss */
.steps__f-grp__dropdown-btn {
  padding-right: 14px;
  padding-left: 14px;
  border: 1px solid #adc3ce;
  border-left: none;
  color: #080808;
  background: #fff;
  font-size: 1.8rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
/* line 90, ../sass/partials/_buttons.scss */
.steps__f-grp__dropdown-btn::after {
  margin-left: 0;
}

/* line 95, ../sass/partials/_buttons.scss */
.steps__f-grp__btn-more {
  width: 36px;
  border-radius: 5px;
  border: none;
  background: #14e095;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-family: Roboto;
  font-weight: 700;
}

/* Homepage */
/* line 3, ../sass/homepage/_header.scss */
.etd__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0 0.5rem;
  background: #fff;
}
/* line 9, ../sass/homepage/_header.scss */
.etd__header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 15, ../sass/homepage/_header.scss */
.etd__header__nav {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 24, ../sass/homepage/_header.scss */
.etd__header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 31, ../sass/homepage/_header.scss */
.etd__header__nav__list__item:not(:last-child) {
  margin-right: 0.2rem;
}
/* line 34, ../sass/homepage/_header.scss */
.etd__header__nav__list__item a {
  width: auto;
  padding: 0 6px;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  text-decoration: none;
}
/* line 45, ../sass/homepage/_header.scss */
.etd__header__nav__list__item .dropdown-toggle .wrap .lang-btn__long {
  display: none;
}
/* line 50, ../sass/homepage/_header.scss */
.etd__header__nav__list__item .dropdown-menu {
  min-width: 5.5rem;
  padding: 0;
  border: none;
  border-radius: 0;
}
/* line 55, ../sass/homepage/_header.scss */
.etd__header__nav__list__item .dropdown-menu a {
  width: 100%;
  padding: 0 8px;
  text-align: left;
  height: 35px;
  border-bottom: 1px solid #8e9ca5;
}
/* line 61, ../sass/homepage/_header.scss */
.etd__header__nav__list__item .dropdown-menu a:nth-last-child(2) {
  border-bottom: none;
}
/* line 65, ../sass/homepage/_header.scss */
.etd__header__nav__list__item .dropdown-menu a:hover {
  color: #14e095;
  background: #0c324c;
  text-align: left;
}
/* line 70, ../sass/homepage/_header.scss */
.etd__header__nav__list__item .dropdown-menu .lang-btn__long {
  display: none;
}

@media (min-width: 768px) {
  /* line 78, ../sass/homepage/_header.scss */
  .etd__header {
    padding: 0 25px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  /* line 81, ../sass/homepage/_header.scss */
  .etd__header > .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* line 86, ../sass/homepage/_header.scss */
  .etd__header__nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  /* line 90, ../sass/homepage/_header.scss */
  .etd__header__nav .etd__header__nav__list .lang-btn, .etd__header__nav .etd__header__nav__list .etd__header__nav__list__item a, .etd__header__nav__list__item .etd__header__nav .etd__header__nav__list a {
    padding: 0 20px;
  }

  /* line 96, ../sass/homepage/_header.scss */
  .etd__header__nav__logo {
    -ms-flex-item-align: center;
        align-self: center;
  }

  /* line 100, ../sass/homepage/_header.scss */
  .etd__header__nav__list {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  /* line 104, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 108, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item:not(:last-child) {
    width: 10rem;
    margin-right: 1rem;
    border-bottom: 1px solid #fff;
  }
  /* line 112, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item:not(:last-child) > a {
    width: 100%;
  }
  /* line 116, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item > a {
    height: 79px;
    line-height: 80px;
    font-size: 2rem;
    font-weight: 600;
    color: #0c324c;
    background: #fff;
  }
  /* line 123, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item > a:hover {
    border-bottom: 8px solid #14e095;
  }
  /* line 127, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .open > .dropdown-toggle:focus {
    color: #fff;
    background: #0c324c;
  }
  /* line 131, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .lang-btn.dropdown-toggle, .etd__header__nav__list__item a.dropdown-toggle {
    width: 100%;
    height: 79px;
    font-size: 20px;
    background: #fff;
    color: #0c324c;
  }
  /* line 137, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .lang-btn.dropdown-toggle:active, .etd__header__nav__list__item a.dropdown-toggle:active, .etd__header__nav__list__item .lang-btn.dropdown-toggle:focus, .etd__header__nav__list__item a.dropdown-toggle:focus, .etd__header__nav__list__item .lang-btn.dropdown-toggle:active:focus, .etd__header__nav__list__item a.dropdown-toggle:active:focus {
    color: #fff;
    background: #0c324c;
  }
  /* line 142, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .lang-btn.dropdown-toggle .wrap .lang-btn__short, .etd__header__nav__list__item a.dropdown-toggle .wrap .lang-btn__short {
    display: none;
  }
  /* line 145, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .lang-btn.dropdown-toggle .wrap .lang-btn__long, .etd__header__nav__list__item a.dropdown-toggle .wrap .lang-btn__long {
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /* line 148, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .lang-btn.dropdown-toggle .wrap .lang-btn__long img, .etd__header__nav__list__item a.dropdown-toggle .wrap .lang-btn__long img {
    margin-left: 15px;
  }
  /* line 155, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item.show > .lang-btn, .etd__header__nav__list__item.show > a {
    color: #fff;
    background: #0c324c;
  }
  /* line 160, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .dropdown-menu {
    margin-top: -1px;
    padding: 0;
    background: #0c324c;
    border-top: 2px solid #14e095;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  /* line 167, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .dropdown-menu a {
    height: 4.8rem;
    line-height: 4.8rem;
    padding-left: 20px;
    color: #fff;
  }
  /* line 172, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .dropdown-menu a:hover {
    color: #14e095;
  }
  /* line 176, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .dropdown-menu .lang-btn__short {
    display: none;
  }
  /* line 179, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .dropdown-menu .lang-btn__long {
    position: relative;
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-block;
  }
  /* line 184, ../sass/homepage/_header.scss */
  .etd__header__nav__list__item .dropdown-menu .lang-btn__long img {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
/* line 3, ../sass/homepage/body/_banner.scss */
.etd__body__banner {
  background: url(../img/background/home-top-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

/* line 10, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box {
  padding-top: 55px;
}
/* line 12, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box h1 {
  margin-bottom: 45px;
  padding: 0 9px;
  font-family: CenturyGothic-Bold;
  font-size: 4rem;
  line-height: 5.5rem;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
/* line 22, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box h3 {
  margin-bottom: 48px;
  font-size: 2rem;
  font-family: CenturyGothic-BoldItalic;
  color: #fff;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7);
}
/* line 30, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box .container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 33, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box .container-fluid .row {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 36, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box .container-fluid .row .col-md-6 {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 44, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box__col {
  position: relative;
  margin-bottom: 15px;
  padding: 25px 10px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
/* line 50, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box__col h2 {
  margin-bottom: 16px;
  font-size: 2rem;
  font-family: CenturyGothic-Bold;
  line-height: 3rem;
  color: #0c324c;
}
/* line 57, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box__col hr {
  width: 100px;
  margin: 0 0 25px;
  border-top: 1px solid #14e095;
}
/* line 63, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box__col > .wrapp span {
  font-family: 'Courgette', cursive;
  font-size: 2.6rem;
  color: #14e095;
}
/* line 70, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box__col.col-full hr {
  display: none;
}

/* line 76, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box__col__top-triangle {
  display: none;
}

/* line 80, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box__col__apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 85, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box__col__apply > .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 90, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box__col__apply__cur {
  margin-right: 5px;
  font-size: 2.6rem;
  color: #14e095;
}

/* line 96, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box__col__apply__fee {
  font-size: 5rem;
  font-family: CenturyGothic-Bold;
  line-height: 3.9rem;
  color: #14e095;
}
/* line 101, ../sass/homepage/body/_banner.scss */
.etd__body__banner__box__col__apply__fee.small--font {
  margin-left: 5px;
  font-size: 2.9rem;
  font-family: CenturyGothic;
  line-height: 2.6rem;
}

@media (min-width: 768px) {
  /* line 110, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box {
    padding-top: 75px;
  }
  /* line 112, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box h1 {
    margin-bottom: 20px;
    padding: 0 100px;
  }
  /* line 117, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 121, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box .container-fluid .row .col-md-6 {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* line 126, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box .container-fluid .row .col-md-6:nth-child(odd) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 25px;
  }
  /* line 131, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box .container-fluid .row .col-md-6:nth-child(even) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 25px;
  }

  /* line 141, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col {
    width: 320px;
    margin: 0;
    padding: 30px 30px 20px;
    -webkit-box-shadow: 0 -6px 30px -6px rgba(0, 0, 0, 0.5);
            box-shadow: 0 -6px 30px -6px rgba(0, 0, 0, 0.5);
  }
  /* line 146, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col h2 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  /* line 151, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col.col-full hr {
    display: block;
    margin-bottom: 20px;
  }
  /* line 156, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col > .wrapp {
    margin-bottom: 25px;
  }
  /* line 159, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col.active {
    background: #0c324c;
    border-top: 1px solid #14e095;
  }
  /* line 161, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col.active h2 {
    color: #fff;
  }
  /* line 164, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col.active span {
    color: #eaee9b;
  }
  /* line 167, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col.active .etd__body__banner__box__col__top-triangle {
    border-top-color: #eaee9b;
    border-right-color: #eaee9b;
  }

  /* line 174, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col__top-triangle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 16px solid #0c324c;
    border-right: 16px solid #0c324c;
    border-left: 16px solid transparent;
    border-bottom: 16px solid transparent;
  }

  /* line 185, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col__apply {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  /* line 188, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col__apply > .wrapp {
    margin-bottom: 30px;
  }

  /* line 193, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col__apply__cur {
    font-size: 2.2rem;
  }

  /* line 197, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col__apply__fee {
    font-size: 7rem;
    line-height: 5rem;
  }

  /* line 202, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col__apply__fee.small--font {
    font-size: 2.2rem;
  }

  /* line 206, ../sass/homepage/body/_banner.scss */
  .apply-btn {
    width: 100%;
    font-size: 1.9rem;
    line-height: 5.5rem;
  }
}
@media (min-width: 1366px) {
  /* line 215, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box h1 {
    margin-bottom: 25px;
    padding: 0;
    font-size: 5rem;
  }
  /* line 220, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box h3 {
    font-size: 2.5rem;
  }
  /* line 225, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box .container-fluid .row .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: -35px;
  }
  /* line 229, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box .container-fluid .row .col-md-6:nth-child(odd) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 15px;
    padding-left: 15px;
  }
  /* line 235, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box .container-fluid .row .col-md-6:nth-child(even) {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  /* line 246, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
  }
  /* line 249, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
  /* line 254, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col > .wrapp span {
    font-size: 3.5rem;
  }
  /* line 258, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col.active {
    margin-bottom: 0;
  }
}
@media (min-width: 1530px) {
  /* line 265, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box {
    padding-top: 175px;
  }
  /* line 267, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box h1 {
    font-size: 5.8rem;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.8);
  }
  /* line 271, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box h3 {
    font-size: 3rem;
    text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.8);
  }

  /* line 278, ../sass/homepage/body/_banner.scss */
  /*.etd__body__banner__box__col.col-full {
    border-top: 1px solid #14e095;
  }*/
  /* line 281, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col.col-full hr {
    margin-bottom: 45px;
  }
  /* line 285, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col > .wrapp {
    margin-bottom: 45px;
  }

  /* line 291, ../sass/homepage/body/_banner.scss */
  .etd__body__banner__box__col__apply > .wrapp {
    margin-bottom: 50px;
  }

  /* line 296, ../sass/homepage/body/_banner.scss */
  .apply-btn {
    font-size: 2.3rem;
    font-family: CenturyGothic-Bold;
  }
}
/* line 3, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container {
  padding: 60px 0 0;
}
/* line 5, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container h2 {
  margin-bottom: 30px;
  font-size: 4rem;
  font-family: CenturyGothic-Bold;
  text-align: center;
  color: #14e095;
}
/* line 12, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container > p {
  margin-bottom: 35px;
  padding: 0 10px;
  font-size: 2rem;
  line-height: 2.6rem;
  text-align: center;
  color: #0c324c;
}
/* line 19, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container > p span {
  display: none;
}
/* line 23, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container hr {
  width: 60px;
  margin: 0 auto 40px;
  border-top: 3px solid #14e095;
}

/* line 30, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__input {
  padding: 40px 10px;
  background: #14e095;
}
/* line 33, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__input input {
  height: 56px;
  font-size: 1.3rem;
  border: 1px solid #0c324c;
  border-right: none;
  border-radius: 0;
}
/* line 39, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__input input::-webkit-input-placeholder {
  font-size: 1.3rem;
  font-style: italic;
  color: #0c324c;
}
.etd__body__faq__container__input input:-ms-input-placeholder {
  font-size: 1.3rem;
  font-style: italic;
  color: #0c324c;
}
.etd__body__faq__container__input input::-ms-input-placeholder {
  font-size: 1.3rem;
  font-style: italic;
  color: #0c324c;
}
.etd__body__faq__container__input input::placeholder {
  font-size: 1.3rem;
  font-style: italic;
  color: #0c324c;
}
/* line 45, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__input button {
  height: 56px;
  padding-left: 18px;
  padding-right: 18px;
  border: 1px solid #0c324c;
  border-left: none;
  border-radius: 0;
  background: #fff;
  color: #0c324c;
  cursor: pointer;
  font-size: 1.6rem;
}

/* line 59, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__q-box--wrapp {
  background: #f3f4f8;
}
/* line 62, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__q-box--wrapp:last-child .etd__body__faq__container__q-box:last-child {
  border-bottom: none;
}

/* line 68, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__q-box {
  border-bottom: 1px solid #14e095;
  padding: 20px 0;
}

/* line 73, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__q-box__q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
}
/* line 77, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__q-box__q span {
  margin-right: 20px;
  font-size: 1.8rem;
  font-family: CenturyGothic-Bold;
  text-transform: uppercase;
  color: #0c324c;
}
/* line 84, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__q-box__q h4 {
  padding-top: 4px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: CenturyGothic-Bold;
  color: #0c324c;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/* line 94, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__q-box__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 96, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__q-box__a span {
  margin-right: 20px;
  font-size: 1.8rem;
  font-family: CenturyGothic-Bold;
  text-transform: uppercase;
  color: #14e095;
}
/* line 103, ../sass/homepage/body/_faq.scss */
.etd__body__faq__container__q-box__a p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #0c324c;
}

/* line 110, ../sass/homepage/body/_faq.scss */
.more-faq-btn {
  display: none;
}

@media (min-width: 768px) {
  /* line 117, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container h2 {
    font-size: 4.5rem;
  }
  /* line 120, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container > p {
    max-width: 915px;
    margin: 0 auto 35px;
    padding: 0 15px;
  }
  /* line 124, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container > p span {
    display: inline;
  }
  /* line 128, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container hr {
    display: none;
  }

  /* line 133, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__input {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 35px 50px;
    background: #fff;
  }
  /* line 138, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__input input {
    padding-left: 20px;
    font-size: 2rem;
    border-bottom: 3px solid #14e095;
  }
  /* line 142, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__input input::-webkit-input-placeholder {
    font-size: 2rem;
  }
  .etd__body__faq__container__input input:-ms-input-placeholder {
    font-size: 2rem;
  }
  .etd__body__faq__container__input input::-ms-input-placeholder {
    font-size: 2rem;
  }
  .etd__body__faq__container__input input::placeholder {
    font-size: 2rem;
  }
  /* line 145, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__input input:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  /* line 149, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__input button {
    background: #14e095;
    color: #fff;
    border: 3px solid #14e095;
  }

  /* line 156, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__q-box--wrapp {
    margin: 0 35px 50px;
    padding: 0 45px 15px;
    border: 1px solid #adc3ce;
    -webkit-box-shadow: 4px 4px #adc3ce;
            box-shadow: 4px 4px #adc3ce;
  }

  /* line 163, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__q-box {
    padding: 15px 0;
  }
  /* line 165, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__q-box:last-child {
    border-bottom: none;
  }

  /* line 171, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__q-box__q span {
    font-size: 2.6rem;
  }
  /* line 174, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__q-box__q h4 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  /* line 181, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__q-box__a span {
    font-size: 2.6rem;
  }
}
@media (min-width: 992px) {
  /* line 188, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__q-box--wrapp {
    padding: 0 30px 15px;
  }
  /* line 190, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__q-box--wrapp:nth-child(odd) {
    margin-right: 10px;
  }
  /* line 193, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__q-box--wrapp:nth-child(even) {
    margin-left: 10px;
  }

  /* line 198, ../sass/homepage/body/_faq.scss */
  .more-faq-btn {
    display: block;
  }
}
@media (min-width: 1366px) {
  /* line 204, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container {
    padding-top: 110px;
  }
  /* line 206, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container > p {
    font-size: 2.3rem;
    line-height: 3rem;
  }

  /* line 213, ../sass/homepage/body/_faq.scss */
  .etd__body__faq__container__input input {
    padding-left: 35px;
    border-left: 1px solid #adc3ce;
    border-top: 1px solid #adc3ce;
  }
}
/* line 3, ../sass/homepage/body/_form.scss */
.etd__form {
  display: none;
  padding: 1px 0 40px;
  background: #fff;
  margin-top: 68px;
}

/* .wrapper */
/* .container-fluid */
/* .row */
/* .etd__form__step-1 */
/* line 11, ../sass/homepage/body/_form.scss */
.etd__form__step-1 {
  /*margin: 0 16px;*/
  padding-right: 15px;
  padding-left: 15px;
  /*flex: 1;*/
}

.etd__form__step-1 .top_div {
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid #adc3ce;
  -webkit-box-shadow: -7px 7px 32px 0px rgba(122,142,152,0.36);
  -moz-box-shadow: -7px 7px 32px 0px rgba(122,142,152,0.36);
  box-shadow: -7px 7px 32px 0px rgba(122,142,152,0.36);
}

.etd__form__step-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.etd__form__step__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px 34px;
  padding: 12px;
  min-height: 45px;
  color: #14e095;
  font-size: 1.8rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 2rem;
}

/* line 25, ../sass/homepage/body/_form.scss */
.etd__form__step-1__add-more {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  margin-bottom: 26px;
  margin-top: 30px;
}
/* line 31, ../sass/homepage/body/_form.scss */
.etd__form__step-1__add-more span {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1.4rem;
  font-family: Roboto;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  line-height: 1.7rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #14e095;
}
/* line 44, ../sass/homepage/body/_form.scss */
.etd__form__step-1__add-more button {
  min-width: 52px;
  height: 52px;
  background: #fff;
  color: #14e095;
  border: 2px solid #14e095;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 3rem;
  cursor: pointer;
}

/* .row */
/* div */
/* form */
/* line 60, ../sass/homepage/body/_form.scss */
.steps__f-grp {
  margin-bottom: 28px;
  height: 5em;
}
/* line 62, ../sass/homepage/body/_form.scss */
.steps__f-grp > label, .steps__f-grp > p {
  font-size: 1.4rem;
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 10px;
}
/* line 68, ../sass/homepage/body/_form.scss */
.steps__f-grp > label > i, .steps__f-grp > p > i {
  margin-right: 7px;
}
/* line 72, ../sass/homepage/body/_form.scss */
.steps__f-grp > p {
  margin-bottom: 13px;
}
/* line 76, ../sass/homepage/body/_form.scss */
.steps__f-grp input {
  height: 45px;
  border: 1px solid #adc3ce;
  border-radius: 5px;
  font-size: 1.4rem;
  font-family: Roboto;
  font-weight: 500;
}
/* line 83, ../sass/homepage/body/_form.scss */
.steps__f-grp input::-webkit-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
}
.steps__f-grp input:-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
}
.steps__f-grp input::-ms-input-placeholder {
  font-family: Roboto;
  font-weight: 400;
}
.steps__f-grp input::placeholder {
  font-family: Roboto;
  font-weight: 400;
}

/* line 90, ../sass/homepage/body/_form.scss */
.steps__f-grp__btn--wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* .input-group */
/* .input-group-btn */
/* line 97, ../sass/homepage/body/_form.scss */
.steps__f-grp__dtp-btn {
  background: #fff;
  border: 1px solid #adc3ce;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

/* .etd__form__step-2 */
/* .row */
/* line 107, ../sass/homepage/body/_form.scss */
.etd__form__step-2__form {
  background: #fff;
  margin-right: 15px;
  border: 1px solid #adc3ce;
  flex: 1;
  -webkit-box-shadow: -7px 7px 32px 0px rgba(122,142,152,0.36);
  -moz-box-shadow: -7px 7px 32px 0px rgba(122,142,152,0.36);
  box-shadow: -7px 7px 32px 0px rgba(122,142,152,0.36);
}

/* form */
/* .steps__f-grp */
/* line 112, ../sass/homepage/body/_form.scss */
.input--margin-r {
  margin-right: 6px;
}

/* line 116, ../sass/homepage/body/_form.scss */
.steps__f-grp__accomo {
  padding-top: 10px;
}
/* line 118, ../sass/homepage/body/_form.scss */
.steps__f-grp__accomo:first-of-type {
  padding-top: 0;
}

/* line 123, ../sass/homepage/body/_form.scss */
.steps__f-grp__btn-grp {
  position: static;
}

/* line 127, ../sass/homepage/body/_form.scss */
.steps__f-grp__dropdown-menu {
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #adc3ce;
  border-radius: 5px;
}

/* line 134, ../sass/homepage/body/_form.scss */
.etd__form__step-2__payment {
  padding-top: 47px;
  padding-bottom: 54px;
  background: #0c324c;
  color: #fff;
  margin-left: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: -7px 7px 32px 0px rgba(122,142,152,0.36);
  -moz-box-shadow: -7px 7px 32px 0px rgba(122,142,152,0.36);
  box-shadow: -7px 7px 32px 0px rgba(122,142,152,0.7);
}
/* line 139, ../sass/homepage/body/_form.scss */
.etd__form__step-2__payment h4 {
  font-size: 2.5rem;
  line-height: 4.3rem;
  text-align: center;
  margin-bottom: 5rem;
}
/* line 145, ../sass/homepage/body/_form.scss */
.etd__form__step-2__payment .apply-btn {
  display: block;
  margin: 0 auto;
  height: 65px;
  width: 28rem;
}

/* line 151, ../sass/homepage/body/_form.scss */
.divider {
  width: 60px;
  height: 3px;
  background: #14e095;
  margin: 0 auto 6rem;
}

/* line 158, ../sass/homepage/body/_form.scss */
.payment__box {
  position: relative;
  width: 12rem;
  margin: 0 auto 7rem;
  text-align: center;
}

/* line 163, ../sass/homepage/body/_form.scss */
.payment__checkbox {
  width: 24rem;
  margin-bottom: 4.4rem;
  display: block;
  margin: 0 auto 4.4rem;
}

/* line 170, ../sass/homepage/body/_form.scss */
.payment__box__fee, .payment__box__cur,
.payment__box__fee--sm {
  margin: 0;
  font-size: 5rem;
  font-family: CenturyGothic-Bold;
  color: #eaee9b;
}

/* line 177, ../sass/homepage/body/_form.scss */
.payment__box__cur {
  margin: 0;
  font-size: 2.6rem;
  font-family: CenturyGothic;
  position: absolute;
  top: 0;
  left: 0;
}

.payment__box__fee--sm {
  margin: 0;
  font-size: 2.6rem;
  font-family: CenturyGothic;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 3, ../sass/homepage/_footer.scss */
footer {
  background: url(../img/background/home-footer-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 10, ../sass/homepage/_footer.scss */
.f-header {
  padding: 50px 10px;
}

/* line 14, ../sass/homepage/_footer.scss */
.f-header__heading {
  margin-bottom: 50px;
  font-size: 4rem;
  font-family: CenturyGothic-Bold;
  text-align: center;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.7);
}

/* line 23, ../sass/homepage/_footer.scss */
.f-header__sign-up-input {
  display: block;
  width: 100%;
  margin-bottom: 22px;
  padding: 20px;
  font-size: 1.6rem;
  background: #fff;
  border: 1px solid #14e095;
}
/* line 31, ../sass/homepage/_footer.scss */
.f-header__sign-up-input::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-style: italic;
  color: #0c324c;
}
.f-header__sign-up-input:-ms-input-placeholder {
  font-size: 1.6rem;
  font-style: italic;
  color: #0c324c;
}
.f-header__sign-up-input::-ms-input-placeholder {
  font-size: 1.6rem;
  font-style: italic;
  color: #0c324c;
}
.f-header__sign-up-input::placeholder {
  font-size: 1.6rem;
  font-style: italic;
  color: #0c324c;
}

/* line 38, ../sass/homepage/_footer.scss */
.f-body {
  padding: 24px 10px;
  background: rgba(12, 50, 76, 0.5);
  border-top: 1px solid #fff;
}

/* line 44, ../sass/homepage/_footer.scss */
.f-body__top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
/* line 47, ../sass/homepage/_footer.scss */
.f-body__top-box img {
  margin-bottom: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
/* line 51, ../sass/homepage/_footer.scss */
.f-body__top-box .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
/* line 54, ../sass/homepage/_footer.scss */
.f-body__top-box .wrapp a {
  margin-bottom: 30px;
  font-size: 1.4rem;
  color: #14e095;
}

/* line 62, ../sass/homepage/_footer.scss */
.f-body__btm-box__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-bottom: 16px;
}
/* line 67, ../sass/homepage/_footer.scss */
.f-body__btm-box__info span {
  margin-right: 5px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #fff;
}
/* line 72, ../sass/homepage/_footer.scss */
.f-body__btm-box__info span a {
  color: #fff;
  text-decoration: none;
}
/* line 76, ../sass/homepage/_footer.scss */
.f-body__btm-box__info span a[href^="mailto:"] {
  color: #14e095;
}

/* line 82, ../sass/homepage/_footer.scss */
.f-body__btm-box__soc-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 84, ../sass/homepage/_footer.scss */
.f-body__btm-box__soc-net a {
  margin-right: 5px;
}

/* line 89, ../sass/homepage/_footer.scss */
.f-footer {
  height: 40px;
  line-height: 40px;
  font-size: 1.4rem;
  color: #0c324c;
  background: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  /* line 100, ../sass/homepage/_footer.scss */
  .f-header {
    padding-left: 45px;
    padding-right: 45px;
  }
  /* line 103, ../sass/homepage/_footer.scss */
  .f-header .wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  /* line 110, ../sass/homepage/_footer.scss */
  .f-header__heading {
    margin-bottom: 35px;
    font-size: 3.5rem;
    line-height: 4rem;
    text-shadow: 1px 1px 2px #000;
  }

  /* line 117, ../sass/homepage/_footer.scss */
  .f-header__sign-up-input {
    margin-bottom: 0;
  }

  /* line 121, ../sass/homepage/_footer.scss */
  .sign-up-btn {
    height: initial;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  /* line 126, ../sass/homepage/_footer.scss */
  .f-body {
    position: relative;
    padding: 40px 35px;
    background: rgba(12, 50, 76, 0.8);
  }

  /* line 132, ../sass/homepage/_footer.scss */
  .f-body__top-box {
    border-bottom: 1px solid #fff;
    margin-bottom: 35px;
  }
  /* line 135, ../sass/homepage/_footer.scss */
  .f-body__top-box img {
    margin-bottom: 45px;
  }
  /* line 138, ../sass/homepage/_footer.scss */
  .f-body__top-box .wrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  /* line 142, ../sass/homepage/_footer.scss */
  .f-body__top-box .wrapp a {
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-right: 50px;
  }

  /* line 150, ../sass/homepage/_footer.scss */
  .f-body__btm-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }

  /* line 155, ../sass/homepage/_footer.scss */
  .f-body__btm-box__info {
    position: relative;
    padding-left: 35px;
    padding-right: 20px;
  }
  /* line 159, ../sass/homepage/_footer.scss */
  .f-body__btm-box__info img {
    position: absolute;
    top: 0;
    left: 0;
  }
  /* line 164, ../sass/homepage/_footer.scss */
  .f-body__btm-box__info span {
    line-height: 3.2rem;
  }

  /* line 169, ../sass/homepage/_footer.scss */
  .f-body__btm-box__soc-net {
    position: absolute;
    top: 40px;
    right: 35px;
  }
}
@media (min-width: 992px) {
  /* line 179, ../sass/homepage/_footer.scss */
  .f-body__top-box .wrapp a {
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 188, ../sass/homepage/_footer.scss */
  .f-header .wrapp {
    width: 745px;
    margin: 0 auto;
  }

  /* line 194, ../sass/homepage/_footer.scss */
  .f-header__sign-up-input {
    margin-right: 25px;
  }

  /* line 198, ../sass/homepage/_footer.scss */
  .f-body__btm-box__info {
    padding-right: 55px;
  }
}
@media (min-width: 1530px) {
  /* line 205, ../sass/homepage/_footer.scss */
  .f-header__heading {
    margin-bottom: 40px;
  }

  /* line 209, ../sass/homepage/_footer.scss */
  .f-body {
    padding-bottom: 30px;
    border: 1px solid #fff;
  }

  /* line 214, ../sass/homepage/_footer.scss */
  .f-body__top-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    border-bottom: none;
    margin-bottom: 30px;
  }
  /* line 218, ../sass/homepage/_footer.scss */
  .f-body__top-box img {
    margin-right: 150px;
    margin-bottom: 0;
  }
  /* line 222, ../sass/homepage/_footer.scss */
  .f-body__top-box .wrapp {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 225, ../sass/homepage/_footer.scss */
  .f-body__top-box .wrapp a {
    margin-bottom: 0;
  }

  /* line 231, ../sass/homepage/_footer.scss */
  .f-body__btm-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  /* line 235, ../sass/homepage/_footer.scss */
  .f-body__btm-box__info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 0;
  }

  /* line 240, ../sass/homepage/_footer.scss */
  .f-body__btm-box__soc-net {
    position: static;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 20px;
  }
}

.error {
  color: red;
}

.steps__f-grp .error {
  color:red;
  margin-bottom: 0;
}

.remove_field {
  float: right;
  font-size: 14px;
  font-style: italic;
  color: #14e095;
}

.radio-input {
  display: none;
}

.radio-input:checked+label {
  border: none;
  color: #fff;
  background: #14e095;
}



/* New CSS */
.my_row {
  flex-wrap: nowrap;
  margin-right: 0;
  margin-left: 0;
}

.last_input {
  margin-bottom: 0;
}

.second_accommodation {
  margin-bottom: 10px;
}

.my_container {
  position: relative;
}

.blue_line {
  display: none;
  position: absolute;
  z-index: 1;
  bottom: -35px;
  left: 23px;
  width: 97.5%;
  border-bottom: 3px solid #0c324c;
}

.main_form_container {
  padding-right: 0;
  padding-left: 0;
}

.top_triangle {
  z-index: 999;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  border-top-color: 16px solid red;
  border-right-color: 16px solid red;
  border-left: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.etd__form__step-2__payment.active .top_triangle {
  border-top-color: #eaee9b;
  border-right-color: #eaee9b;
}

.top_triangle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 16px solid #0c324c;
  border-right: 16px solid #0c324c;
  border-left: 16px solid transparent;
  border-bottom: 16px solid transparent;
}

.step_2_height {
  height: 710px;
}

.step_3_height {
  height: 710px;
}

.checkbox_div {
  width: 26rem;
  margin: 0 auto 4.4rem;
  border: none;
  display: flex;
  align-items: center;
}

.checkbox_div label {
  display: flex;
  align-items: center;
}

.checkbox_div label input {
  display: none;
}

.checkbox_div label span {
  height: 18px;
  width: 18px;
  -webkit-box-shadow: 0 0 2px 2px #c8cacc;
  box-shadow: 0 0 2px 2px #c8cacc;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.checkbox_div [type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
  content: '\2714';
  position: absolute;
  top: 0px;
  left: 3px;
  font-size: 17px;
}
.checkbox_div a {
  color: #fff;
}

.checkbox_div a:hover {
  color: #fff;
}

.checkbox_div p {
  font-size: 1.4rem;
  font-family: "CenturyGothic";
}

.checkbox_div a {
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.checkbox_div a:after {
  display: block;
  content: '';
  border-bottom: solid 2px #fff;
  transform: scaleX(1);  
  transition: transform 400ms ease-in-out;
  transform-origin: 0% 50%
}

.checkbox_div a:hover:after { 
  transform: scaleX(0);
  transform-origin: 100% 50%;
}

.label_fix label {
  cursor: pointer;
  vertical-align: top;
}