@import "../dist/include-media";

footer {
	background: url(../img/background/home-footer-bg.png);
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
}

	.f-header {
		padding: 50px 10px;
	}

		.f-header__heading {
			margin-bottom: 50px;
			font-size: 4rem;
			font-family: $cg-b;
			text-align: center;
			color: #fff;
			text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.7);
		}

		.f-header__sign-up-input {
			display: block;
		    width: 100%;
		    margin-bottom: 22px;
		    padding: 20px;
		    font-size: 1.6rem;
		    background: #fff;
		    border: 1px solid $green;
		    &::placeholder {
				font-size: 1.6rem;
				font-style: italic;
				color: $blue;
		    }
		}

	.f-body {
		padding: 24px 10px;
		background: rgba(12,50,76,0.5);
		border-top: 1px solid #fff;
	}

		.f-body__top-box {
			display: flex;
			flex-flow: column nowrap;
			img {
				margin-bottom: 30px;
				align-self: flex-start;
			}
			.wrapp {
				display: flex;
				flex-flow: column nowrap;
				a {
					margin-bottom: 30px;
					font-size: 1.4rem;
					color: $green;
				}
			}
		}

			.f-body__btm-box__info {
				display: flex;
				flex-flow: row wrap;
				align-content: flex-start;
				margin-bottom: 16px;
				span {
					margin-right: 5px;
					font-size: 1.4rem;
					line-height: 1.8rem;
					color: #fff;
					a {
						color: #fff;
						text-decoration: none;
					}
					a[href^="mailto:"] {
    					color: $green;
    				}
				}
			}

			.f-body__btm-box__soc-net {
				display: flex;
				a {
					margin-right: 5px;
				}
			}

	.f-footer {
		height: 40px;
		line-height: 40px;
		font-size: 1.4rem;
		color: $blue;
		background: #fff;
		text-align: center;
	}

//Media queries
@include media('>767px') {
	.f-header {
		padding-left: 45px;
		padding-right: 45px;
		.wrapp {
			display: flex;
		    flex-flow: row nowrap;
		    align-items: stretch;
		}
	}

		.f-header__heading {
			margin-bottom: 35px;
			font-size: 3.5rem;
			line-height: 4rem;
			text-shadow: 1px 1px 2px #000;
		}

			.f-header__sign-up-input {
				margin-bottom: 0;
			}

			.sign-up-btn {
				height: initial;
				flex-shrink: 0;
			}
	
	.f-body {
		position: relative;
		padding: 40px 35px;
		background: rgba(12, 50, 76, 0.8);
	}

		.f-body__top-box {
			border-bottom: 1px solid #fff;
			margin-bottom: 35px;
			img {
				margin-bottom: 45px;
			}
			.wrapp {
				display: flex;
			    flex-flow: row nowrap;
			    justify-content: space-between;
			    a {
			    	font-size: 1.6rem;
			    	line-height: 2.5rem;
			    	padding-right: 50px;
			    }
			}
		}

		.f-body__btm-box {
			display: flex;
    		flex-flow: row nowrap;
		}

			.f-body__btm-box__info {
				position: relative;
    			padding-left: 35px;
    			padding-right: 20px;
    			img {
    				position: absolute;
				    top: 0;
				    left: 0;
    			}
    			span {
    				line-height: 3.2rem;
    			}
			}

			.f-body__btm-box__soc-net {
				position: absolute;
				top: 40px;
				right: 35px;
			}
}

@include media('>991px') {
	.f-body__top-box {
		.wrapp {
			a {
				padding-right: 0;
			}
		}
	}
}

@include media('>1199px') {
	.f-header {
		.wrapp {
			width: 745px;
			margin: 0 auto;
		}
	}

			.f-header__sign-up-input {
				margin-right: 25px;
			}

	.f-body__btm-box__info {
		padding-right: 55px;
	}
}

@include media('>1529px') {

		.f-header__heading {
			margin-bottom: 40px;
		}

	.f-body {
		padding-bottom: 30px;
		border: 1px solid #fff;
	}

		.f-body__top-box {
			flex-flow: row nowrap;
			border-bottom: none;
    		margin-bottom: 30px;
    		img {
    			margin-right: 150px;
    			margin-bottom: 0;
    		}
    		.wrapp {
				flex: 1;
    			align-items: center;
    			a {
    				margin-bottom: 0;
    			}
    		}
		}

		.f-body__btm-box {
			justify-content: space-between;
		}

			.f-body__btm-box__info {
				order: 2;
				padding-right: 0;
			}

			.f-body__btm-box__soc-net {
				position: static;
				order: 1;
				margin-right: 20px;
			}
}