@import "../dist/include-media";

.etd__header {
	display: flex;
    align-items: center;
	height: 80px;
	padding: 0 0.5rem;
	background: #fff;
	.wrapper {
		display: flex;
    	justify-content: space-between;
	}
}

	.etd__header__nav {
	    width: 100%;
	    padding: 0;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
    	justify-content: space-between;
	}

		.etd__header__nav__list {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
		}

			.etd__header__nav__list__item {
				&:not(:last-child) {
					margin-right: 0.2rem;
				}
				a {
					@extend .lang-btn;
					width: auto;
					padding: 0 6px;
					display: inline-block;
					text-align: center;
					line-height: 3rem;
					text-decoration: none;
				}
				.dropdown-toggle {
					.wrap {
						.lang-btn__long {
							display: none;
						}
					}
				}
				.dropdown-menu {
					min-width: 5.5rem;
					padding: 0;
					border: none;
					border-radius: 0;
					a {
						width: 100%;
						padding: 0 8px;
						text-align: left;
						height: 35px;
    					border-bottom: 1px solid #8e9ca5;
    					&:nth-last-child(2) {
    						border-bottom: none;
    					}
					}
					a:hover {
						color: $green;
						background: $blue;
						text-align: left;
					}
					.lang-btn__long {
						display: none;
					}
				}
			}

//Media queries
@include media('>767px') {
	.etd__header {
		padding: 0 25px;
    	align-items: stretch;
    	> .wrapper {
    		display: flex;
    	}
    }

		.etd__header__nav {
			flex: 1;
    		align-items: stretch;
    		.etd__header__nav__list {
    			.lang-btn {
    				padding: 0 20px;
    			}
    		}
		}

			.etd__header__nav__logo {
				align-self: center;	
			}

			.etd__header__nav__list {
				align-items: stretch;
			}

				.etd__header__nav__list__item {
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    &:not(:last-child) {
						width: 10rem;
						margin-right: 1rem;
						border-bottom: 1px solid #fff;
						> a {
							width: 100%;
						}
					}
				    > a {
				    	height: 79px;
				    	line-height: 80px;
				    	font-size: 2rem;
				    	font-weight: 600;
				    	color: $blue;
				    	background: #fff;
				    	&:hover {
				    		border-bottom: 8px solid $green;
				    	}
				    }
				    .open > .dropdown-toggle:focus {
						color: #fff;
						background: $blue;
				    }
					.lang-btn.dropdown-toggle {
						width: 100%;
						height: 79px;
						font-size: 20px;
						background: #fff;
						color: $blue;
						&:active, &:focus, &:active:focus {
							color: #fff;
							background: $blue;
						}
						.wrap {
							.lang-btn__short {
								display: none;
							}
							.lang-btn__long {
								font-weight: 600;
								display: flex;
								img {
									margin-left: 15px;
								}
							}
						}
					}
					&.show {
						> .lang-btn {
							color: #fff;
							background: $blue;
						}
					}
				    .dropdown-menu {
				    	margin-top: -1px;
				    	padding: 0;
				    	background: $blue;
				    	border-top: 2px solid $green;
				    	border-left: 1px solid #fff;
				    	border-right: 1px solid #fff;
				    	a {
				    		height: 4.8rem;
				    		line-height: 4.8rem;
				    		padding-left: 20px;
				    		color: #fff;
				    		&:hover {
				    			color: $green;
				    		}
				    	}
				    	.lang-btn__short {
							display: none;
						}
				    	.lang-btn__long {
							position: relative;
				    		font-size: 1.4rem;
				    		font-weight: 600;
							display: inline-block;
							img {
								position: absolute;
								right: 20px;
								top: 50%;
								transform: translateY(-50%);
							}
						}
				    }
				}
}