@import "../../dist/include-media";

.etd__body__banner {
	background: url(../img/background/home-top-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

	.etd__body__banner__box {
		padding-top: 55px;
		h1 {
			margin-bottom: 45px;
			padding: 0 9px;
			font-family: $cg-b;
			font-size: 4rem;
			line-height: 5.5rem;
			color: #fff;
			text-align: center;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
		}
		h3 {
			margin-bottom: 48px;
			font-size: 2rem;
			font-family: $cg-b-italic;
			color: #fff;
			text-align: center;
			text-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.7);
		}
		.container-fluid {
			padding-left: 10px;
			padding-right: 10px;
			.row {
				margin-left: -10px;
				margin-right: -10px;
				.col-md-6 {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}

		.etd__body__banner__box__col {
			position: relative;
			margin-bottom: 15px;
			padding: 25px 10px;
			background: #fff;
			box-shadow: 0 0 10px rgba(0,0,0,0.9);
			h2 {
				margin-bottom: 16px;
				font-size: 2rem;
				font-family: $cg-b;
				line-height: 3rem;
				color: $blue;
			}
			hr {
				width: 100px;
				margin: 0 0 25px;
				border-top: 1px solid $green;
			}
			> .wrapp {
				span {
					font-family: 'Courgette', cursive;
					font-size: 2.6rem;
					color: $green;
				}
			}
			&.col-full {
				hr {
					display: none;
				}
			}
		}

			.etd__body__banner__box__col__top-triangle {
				display: none;
			}

			.etd__body__banner__box__col__apply {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: space-between;
				> .wrapp {
					display: flex;
				}
			}

				.etd__body__banner__box__col__apply__cur {
					margin-right: 5px;
					font-size: 2.6rem;
					color: $green;
				}

				.etd__body__banner__box__col__apply__fee {
					font-size: 5rem;
					font-family: $cg-b;
    				line-height: 3.9rem;
    				color: $green;
    				&.small--font {
    					margin-left: 5px;
						font-size: 2.9rem;
						font-family: $cg-reg;
						line-height: 2.6rem;
    				}
				}
//Media queries
@include media('>767px') {
	.etd__body__banner__box {
		padding-top: 75px;
		h1 {
			margin-bottom: 20px;
			padding: 0 100px;

		}
		.container-fluid {
			padding-left: 15px;
			padding-right: 15px;
			.row {
				.col-md-6 {
					margin-bottom: 50px;
					display: flex;
				    flex-flow: column nowrap;
				    justify-content: center;
				    &:nth-child(odd) {
				    	justify-content: center;
    					align-items: flex-end;
    					padding-right: 25px;
				    }
				     &:nth-child(even) {
				    	justify-content: center;
    					align-items: flex-start;
    					padding-left: 25px;
				    }
				}
			}
		}
	}

		.etd__body__banner__box__col {
			width: 320px;
    		margin: 0;
    		padding: 30px 30px 20px;
    		box-shadow: 0 -6px 30px -6px rgba(0,0,0,0.5);
    		h2 {
    			font-size: 2.8rem;
    			line-height: 3.2rem;
    		}
    		&.col-full {
				hr {
					display: block;
					margin-bottom: 20px;
				}
			}
			> .wrapp {
				margin-bottom: 25px;
			}
			&.active {
				background: $blue;
				h2 {
					color: #fff;
				}
				span {
					color: $yellow;
				}
				.etd__body__banner__box__col__top-triangle {
					border-top-color: $yellow;
					border-right-color: $yellow;
				}
			}
		}

			.etd__body__banner__box__col__top-triangle {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				border-top: 16px solid $blue;
				border-right: 16px solid $blue;
				border-left: 16px solid transparent;
				border-bottom: 16px solid transparent;
			}

			.etd__body__banner__box__col__apply {
				flex-flow: column nowrap;
    			align-items: flex-start;
    			> .wrapp {
    				margin-bottom: 30px;
    			}
			}

				.etd__body__banner__box__col__apply__cur {
					font-size: 2.2rem;
				}

				.etd__body__banner__box__col__apply__fee {
					font-size: 7rem;
    				line-height: 5rem;
				}

				.etd__body__banner__box__col__apply__fee.small--font {
					font-size: 2.2rem;	
				}

				.apply-btn {
					width: 100%;
				    font-size: 1.9rem;
				    line-height: 5.5rem;
				}
}

@include media('>1365px') {
	.etd__body__banner__box {
		h1 {
			margin-bottom: 25px;
			padding: 0;
			font-size: 5rem;
		}
		h3 {
			font-size: 2.5rem;
		}
		.container-fluid {
			.row {
				.col-md-6 {
					flex: 0 0 25%;
    				max-width: 25%;
    				margin-bottom: -35px;
				    &:nth-child(odd) {
				    	justify-content: center;
    					align-items: center;
    					padding-right: 15px;
    					padding-left: 15px;
				    }
				     &:nth-child(even) {
				    	justify-content: center;
    					align-items: center;
    					padding-right: 15px;
    					padding-left: 15px;
				    }
				}
			}
		}
	}

		.etd__body__banner__box__col {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
			margin-bottom: 30px;
			h2 {
				font-size: 3rem;
				line-height: 4rem;
			}
			> .wrapp {
				span {
					font-size: 3.5rem;
				}
			}
			&.active {
				margin-bottom: 0;
			}
		}
}

@include media('>1529px') {
	.etd__body__banner__box {
		padding-top: 175px;
		h1 {
			font-size: 5.8rem;
			text-shadow: 1px -1px 1px rgba(0,0,0,0.8);
		}
		h3 {
			font-size: 3rem;
			text-shadow: 1px -1px 1px rgba(0,0,0,0.8);
		}
	}

		.etd__body__banner__box__col {
			&.col-full {
				border-top: 1px solid $green; 
				padding-bottom: 40px;
				hr {
					margin-bottom: 45px;	
				}
			}
			> .wrapp {
				margin-bottom: 45px;
			}
		}

			.etd__body__banner__box__col__apply {
				> .wrapp {
					margin-bottom: 50px;
				}
			}

				.apply-btn {
					font-size: 2.3rem;
					font-family: $cg-b;
				}
}