@import "../../dist/include-media";

.etd__body__faq__container {
	padding: 60px 0 0;
	h2 {
		margin-bottom: 30px;
		font-size: 4rem;
		font-family: $cg-b;
		text-align: center;
		color: $green;
	}
	> p {
		margin-bottom: 35px;
		padding: 0 10px;
		font-size: 2rem;
		line-height: 2.6rem;
		text-align: center;
		color: $blue;
		span {
			display: none;
		}
	}
	hr {
		width: 60px;
		margin: 0 auto 40px;
		border-top: 3px solid $green;
	}
}

	.etd__body__faq__container__input {
		padding: 40px 10px;
		background: $green;
		input {
			height: 56px;
			font-size: 1.3rem;
			border: 1px solid $blue;
			border-right: none;
			border-radius: 0;
			&::placeholder {
				font-size: 1.3rem;
				font-style: italic;
				color: $blue;
			}
		}
		button { 
			height: 56px;
			padding-left: 18px;
			padding-right: 18px;
			border: 1px solid $blue;
			border-left: none;
			border-radius: 0;
			background: #fff;
			color: $blue;
			cursor: pointer;
			font-size: 1.6rem;
		}	
	}
	
	.etd__body__faq__container__q-box--wrapp {
		background: $light-gray;
		&:last-child {
			.etd__body__faq__container__q-box:last-child {
				border-bottom: none;
			}	
		}
	}

		.etd__body__faq__container__q-box {
			border-bottom: 1px solid $green;
			padding: 20px 0;
		}

			.etd__body__faq__container__q-box__q {
				display: flex;
				align-items: flex-start;
				margin-bottom: 15px;
				span {
					margin-right: 20px;
					font-size: 1.8rem;
					font-family: $cg-b;
					text-transform: uppercase;
					color: $blue;
				}
				h4 {
					padding-top: 4px;
					font-size: 1.4rem;
					line-height: 1.8rem;
					font-family: $cg-b;
					color: $blue;
					align-self: flex-end;
				}
			}

			.etd__body__faq__container__q-box__a {
				display: flex;
				span {
					margin-right: 20px;
					font-size: 1.8rem;
					font-family: $cg-b;
					text-transform: uppercase;
					color: $green;	
				}
				p {
					font-size: 1.4rem;
					line-height: 1.8rem;
					color: $blue;
				}
			}

		.more-faq-btn {
			display: none;
		}

//Media queries
@include media('>767px') {
	.etd__body__faq__container {
		h2 {
			font-size: 4.5rem;
		}
		> p {
			max-width: 915px;
    		margin: 0 auto 35px;
			padding: 0 15px;
			span {
				display: inline;
			}
		}
		hr {
			display: none;
		}
	}

	.etd__body__faq__container__input {
	    max-width: 900px;
	    margin: 0 auto;
		padding: 0 35px 50px;
	    background: #fff;
	    input {
	    	padding-left: 20px;
	    	font-size: 2rem;
	    	border-bottom: 3px solid $green;
	    	&::placeholder {
				font-size: 2rem;
	    	}
	    	&:focus {
	    		box-shadow: none;
	    	}
	    }
		button {
			background: $green;
		    color: #fff;
		    border: 3px solid $green;
		}
	}

		.etd__body__faq__container__q-box--wrapp {
			margin: 0 35px 50px;
		    padding: 0 45px 15px;
		    border: 1px solid $border-gray;
		    box-shadow: 4px 4px $border-gray;
		}

			.etd__body__faq__container__q-box {
				padding: 15px 0;
				&:last-child {
					border-bottom: none;
				}
			}

				.etd__body__faq__container__q-box__q {
					span {
						font-size: 2.6rem;
					}
					h4 {
						font-size: 1.8rem;
						line-height: 2.2rem;
					}
				}

				.etd__body__faq__container__q-box__a {
					span {
						font-size: 2.6rem;	
					}
				}
}

@include media('>991px') {
	.etd__body__faq__container__q-box--wrapp {
		padding: 0 30px 15px;
		&:nth-child(odd) {
			margin-right:  10px;
		}
		&:nth-child(even) {
			margin-left:  10px;
		}
	}

	.more-faq-btn {
		display: block;
	}
}

@include media('>1365px') {
	.etd__body__faq__container {
		padding-top: 110px;
		> p {
			font-size: 2.3rem;
			line-height: 3rem;
		}
	}

		.etd__body__faq__container__input {
			input {
				padding-left: 35px;
				border-left: 1px solid $border-gray;
				border-top: 1px solid $border-gray;
			}
		}	
}