@import "../../dist/include-media";

.etd__form {
	padding: 1px 0 40px;
    background: #fff;
}
	/* .wrapper */
		/* .container-fluid */
			/* .row */
				/* .etd__form__step-1 */
					.etd__form__step__heading {
					    display: flex;
					    align-items: center;
					    margin: 0 -15px 34px;
					    padding: 12px;
						min-height: 45px;
					    background: $blue;
					    color: $green;
					    font-size: 1.8rem;
						font-family: $roboto;
						font-weight: 700;
						line-height: 2rem;
					}

					.etd__form__step-1__add-more {
						position: relative;
					    display: flex;
					    align-items: stretch;
					    width: 100%;
					    margin-bottom: 26px;
					    span {
					    	flex: 1 1 auto;
						    font-size: 1.4rem;
						    font-family: $roboto;
						    font-weight: 700;
						    display: flex;
						    align-items: center;
						    padding: 12px;
						    line-height: 1.7rem;
						    border-top-left-radius: 5px;
						    border-bottom-left-radius: 5px;
						    border: 2px solid $green;
					    }
					    button {
					    	min-width: 52px;
						    height: 52px;
						    background: #fff;
						    color: $green;
						    border: 2px solid $green;
						    border-left: none;
						    border-top-right-radius: 5px;
						    border-bottom-right-radius: 5px;
						    font-size: 3rem;
						    cursor: pointer;
					    }
					}
					/* .row */
						/* div */
							/* form */
								.steps__f-grp {
									margin-bottom: 28px;
									> label {
										font-size: 1.4rem;
										font-family: $roboto;
										font-weight: 300;
										font-style: italic;
										margin-bottom: 10px;
										> i {
											margin-right: 7px;
										}
									}
									> p {
										@extend label;
										margin-bottom: 13px;
									}
									input {
										height: 45px;
										border: 1px solid $border-gray;
										border-radius: 5px;
										font-size: 1.4rem;
										font-family: $roboto;
										font-weight: 500;
										&::placeholder {
											font-family: $roboto;
											font-weight: 400;
										}
									}
								}

									.steps__f-grp__btn--wrapp {
										display: flex;
										justify-content: space-between;							
									}

									/* .input-group */
										/* .input-group-btn */
											.steps__f-grp__dtp-btn {
												background: #fff;
												border: 1px solid $border-gray;
												border-top-right-radius: 5px;
												border-bottom-right-radius: 5px;
												cursor: pointer;
											}
				
				/* .etd__form__step-2 */
					/* .row */
						.etd__form__step-2__form {
							background: #fff;							
						}
							/* form */
								/* .steps__f-grp */
									.input--margin-r {
										margin-right: 6px;
									}

									.steps__f-grp__accomo {
										padding-top:10px;
										&:first-of-type {
											padding-top: 0;
										}
									}

										.steps__f-grp__btn-grp {
											position: static;
										}

											.steps__f-grp__dropdown-menu {
												width: 100%;
												font-size: 1.4rem;
												border: 1px solid $border-gray;
												border-radius: 5px;
											}

						.etd__form__step-2__payment {
							padding-top: 47px;
							padding-bottom: 54px;
							background: $blue;
							color: #fff;
							h4 {
								font-size: 2.5rem;
								line-height: 3.3rem;
								text-align: center;
								margin-bottom: 40px;
							}
							.apply-btn	{
								display: block;
								margin: 0 auto;
							}
						}

							.divider {
								width: 60px;
								height: 3px;
								background: $green;
								margin: 0 auto 40px;
							}

							.payment__box {
								width: 120px;
								margin: 0 auto 40px;
							}

							.payment__checkbox {
								width: 240px;
								margin-bottom: 40px;
								display: block;
								margin: 0 auto 40px;
							}

								.payment__box__fee {
									margin: 0 5px;
									font-size: 5rem;
									font-family: $cg-b;
									color: $yellow;
								}

								.payment__box__cur,
								.payment__box__fee--sm {
									@extend .payment__box__fee;
									margin: 0;
									font-size: 2.6rem;
									font-family: $cg-reg;
								}	
