/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i');
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@include font-face(CenturyGothic, "../fonts/CenturyGothic", normal, normal);
@include font-face(CenturyGothic-Bold, "../fonts/CenturyGothic-Bold", normal, normal);
@include font-face(CenturyGothic-BoldItalic, "../fonts/CenturyGothic-BoldItalic", normal, normal);

/******************\

$CSS Reset

\******************/
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p,blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

//========================
html {
	font-size: 10px;
}

	body {
		font-size: 1.6rem;
		font-family: $cg-reg;
	}

html,
body {
	min-height: 100%;
}

.btn,
button,
input {
	&:active,
	&:focus,
	&:active:focus {
		outline: none;
		@include box-shadow(none);
	}
}

.wrapper {
	width: 100%;
	max-width: 1530px;
	margin: 0 auto;
}