.lang-btn {
	width: 5.5rem;
	height: 3rem;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: #fff;
	background: $blue;
	border: none;
	cursor: pointer;
	.wrap {
		display: inline-block;
	}
}

.apply-btn {
	border: none;
	padding: 0 10px;
	line-height: 7rem;
	font-size: 2.3rem;
	font-family: $cg-b;
	color: $blue;
	background: $green;
	cursor: pointer;
}

.sign-up-btn {
    display: block;
    width: 228px;
    height: 56px;
	margin: 0 auto;
	font-size: 2rem;
	font-family: $cg-b;
    color: #fff;
    background: $blue;
    border: 3px solid #fff;
    cursor: pointer;
}

.more-faq-btn {
	margin: 0 auto 90px;
    width: 100%;
    max-width: 750px;
    font-size: 16px;
    font-family: $cg-b;
    line-height: 50px;
    border-radius: 5px;
    border: 2px solid $green;
    color: $blue;
    background: #fff;
    cursor: pointer;
    &:hover {
    	border: 2px solid #fff;
    	background: $green;
    }
}

.steps__f-grp__btn {
	width: 49%;
	height: 45px;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-family: $roboto;
	font-weight: 700;
	text-align: center;
    line-height: 45px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid $border-gray;
	color: $txt-gray;
	background: $light-gray;
	/* btn--green class should bee added when someone click on it */
	&.btn--green {
		border: none;
		color: #fff;
		background: $green;
	}
}

.steps__f-grp__dropdown-btn {
	padding-right: 14px;
	padding-left: 14px;
	border: 1px solid $border-gray;
	border-left: none;
	color: #080808;
	background: #fff;
	font-size: 1.8rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	&::after {
		margin-left: 0;
	}
}

.steps__f-grp__btn-more {
	width: 36px;
	border-radius: 5px;
	border: none;
	background: $green;
	color: #fff;
	cursor: pointer;
	font-size: 1.8rem;
	font-family: $roboto;
	font-weight: 700;
}