//colors:
$green: #14e095;
$blue: #0c324c;
$yellow: #eaee9b;
$box-shadow: #c7cfd5;
$txt-gray: #7a8e98;
$border-gray: #adc3ce;
$light-gray: #f3f4f8;


//fonts:
$cg-reg: CenturyGothic;
$cg-b: CenturyGothic-Bold;
$cg-b-italic: CenturyGothic-BoldItalic;
$roboto: Roboto;